html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #0b0b0b;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
